body{
    background-color: rgba(16, 81, 157, 0.364);
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.403);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.vermelho{
    background-color: rgba(255, 0, 0, 0.527);
    border-radius: 4px;
}
.texto-branco{
    color: white;
}
.destaque{
    font-weight: bold;
}
button{
    width: 300px;
    height: 100px;
}
.tag1:hover{
    background-color: rgba(255, 0, 0, 0.527);
    transition: 0.5s;
}
.tag2:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.tag3:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    font-weight: bold;
}