<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <script src="./vue.js"></script>

    <title>VueJS</title>
</head>
<body>
    <div id="app">
        {{paciente}} <br>
       <!-- <input type="text" :value="paciente" @keyup="setPaciente($event)">--> <!-- atualização nos 2 sentidos--> 
       <input type="text" v-model="paciente">
        <input type="radio" id="" value="f" v-model="sexo">Feminino
        <input type="radio" id="" value="m" v-model="sexo">Masculino {{sexo}}<br>
        <select v-model="plano">
            <option value="" disabled>Selecionar um plano</option> <!-- adicionar disabled para evitar erros nos navegadores-->
            <option value="1">Básico 1</option>
            <option value="2">Básico 2</option>
            <option value="3">Master</option>
        </select> 
       {{plano}}  <br>
        <input type="checkbox" value="100" v-model="doencas">Asma
        <input type="checkbox" value="101" v-model="doencas">Diabetes tipo 1
        <input type="checkbox" value="102" v-model="doencas">Rinite
        <br>
        {{doencas}} <br>
        <p>Digite o diagnostico</p>
        <textarea name="" id="" cols="100" rows="5" v-model="diagnostico"></textarea>
       <br> {{diagnostico}} <hr>
       <select v-model="selected">
        <option disabled value="">Escolha um item</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br>
      <span>Selecionado: {{ selected }}</span>
      <hr>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Nomes assinalados: {{ checkedNames }}</span>
      <hr>

    </div>
    <script>
                const vm = new Vue({
            el: '#app', // id
            data:{
                paciente:'João da Silva',
                sexo:'',
                plano:'',
                doencas:[],
                diagnostico:'',
                selected:'',
                checkedNames: [],

            },
            
            methods: {
          
            },
            computed:{

            },
        })
    </script>
    <div class="container body-content">
        @RenderBody()
        <footer class="fixarRodape">
            <hr />
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
</body>
</html>