body{
    background-color: rgba(16, 81, 157, 0.364);
}
.borda {
    border: 1px solid;
}
.div-principal {
    width: 200px;
    height: 200px;
    padding: 50px;
    align-items: center;
    display: flex;
}
.div-comum {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 30px;
}
.verde{
    background-color: green;
}
.branco{
    background-color: white;
}
.azul{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
.p{
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    flex-wrap: wrap;
}
* {
    text-transform: capitalize;

}